* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.boxH1 {
  text-align: center;
  border-bottom: solid 3px;
  margin-bottom: 3px;
}


.formStyle {
  width: 100%;
  max-width: 500px;
  padding: 30px 35px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.boxInputLabel {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  font-weight: 800;
  border: solid 1px #042cf6;
  border-radius: 5px;
  padding: 2px 3px;
  background-color: black;
}

label {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

label::after {
  content: ':';
}

input {
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
  color: #363636;
  border: 1px solid #042cf6;
  border-radius: 8px;
  outline: none;
  transition: all 1.3s ease;
}

input:focus {
  border-color: #735f5f;
}

input::placeholder {
  color: #363636;
  font-size: 14px;
}

button {
  font-size: 1rem;
  font-weight: 700;
  padding: 8px;
  color: #363636;
  border: 2px solid #042cf6;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
}

.boxPassword {
  letter-spacing: 8px;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
  background: linear-gradient(to left top, #05042e8f, #0f0e328f 50%, #17163d9c 75%, #03022d8f 75%);
}